# Ambiente Virtual Python
venv/
__pycache__/

#dbt e Logs
target/
dbt_packages/
logs/
*.log

# Arquivos de Ambiente (Segurança)
.env
profiles.yml

# -------------------------------------------------------------------------
# GOVERNANÇA: Exceção para o projeto dbt embutido no Astronomer Cosmos
# -------------------------------------------------------------------------
!airflow_project/dags/dbt/
!airflow_project/dags/dbt/**